@charset "UTF-8";

#mainContainer{
	height: 600px !important; 
}
/*
--- 전체 폼 가두기---  */
#cols_wrap{
	width: 1000px;
	height:550px;
	padding: 20px 0;
    margin-top: 50px;
    
}
/* 캘린더 크기 지정 */
#calendar{
	width: 500px;
	border-top: 2px solid #DDD;
	float:left;
}

/* 
----- float 데이터 삭제하기 ----- */
.clear{
	clear: both;
}



/* 
---- 클릭시 색변경 하기--- */

/* 모든 폰트 변경 */
#calendar table,
#calendar tr,
#calendar th,
#calendar td{
    font-family: "NotoSansR";
}

#calendar,
#calendar td{
	margin: 0 auto;
}

/* 년 월 스타일 */
#calendar tr:first-child{
	font-size: 16pt;
	font-weight: bold;
}

#calendarTitle{
    width: 200px !important;
    text-align: center;
}

/* 이전 달, 다음 달 버튼 시작*/
#calendar tr:first-child td:first-child{
	text-align: right;
	width: 200px;
}
#calendar tr:first-child td:last-child{
	text-align: left;
	width: 200px;
}
#calendar td{
	font-size:1.2em;
}
.go-prev,
.go-next {
	padding: 0px 10px;
}

.go-prev::before,
.go-next::before {
    color: #000;
}

.go-prev:hover,
.go-next:hover {
    color: #ed2a61;
}
/* 이전 달, 다음 달 버튼 끝*/

.weeks{
	font-weight:bold;
	font-size: 15px;
	text-align: center;
	height: 50px;
}

/* 숫자 폰트 스타일 관련 */
tr .days {
	font-size: 12px;
    color: #999;
}

/* 모든 td의 가로 및 세로 크기 */
tr td{
	width: 14%;
	height: 50px;
	text-align: center;
}
tr{
	border-bottom: 1px solid gray;
}

.sec_cal .cal_wrap .day, .dayT {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

/* 토요일 */
.saturday {
    color: #3c6ffa;
}

/* 일요일,공휴일 */
.holiday{
    color: #ed2a61;
}

/* 
---- 비활성화 된 날짜들 td--- */
#calendar .disable{
	background-image: linear-gradient(-45deg, rgba(80, 80, 80, 0) 0%, rgba(80, 80, 80, 0) 44%, rgba(80, 80, 80, 0.3) 45%, rgba(80, 80, 80, 0.3) 55%, rgba(80, 80, 80, 0) 56%, rgba(80, 80, 80, 0) 100%);
    background-size: 7px 7px;
    background-repeat: repeat;
    color: gray;
    cursor: default;
}
.yday{
	font-weight: bold;
	cursor: pointer;
}

.enable {
    border: solid 1px #ee8542;
    background-color: #ee8542;
    color: #FFF !important;
}

/* 
------ 오른쪽 타임 리스트 ---- */
#timeList{
	width: 400px;
	height: 359px;
	float: right;
	border-bottom: 1px solid black;
	border-top: 2px solid #DDD;
	text-align: center;
}
#timeList_content{
	margin: 0 auto;
	height: 350px;
}
#timeList .right-text{
	margin-top: 150px;
}
#timeList h4{
	color: #ed2a61;
	float:left;
	margin-top: 10px;
	font-size: 14px;
}
#timeList ul{
	margin: 0 auto;
	text-align: center;
}

#timeList li{
	width: 199px;
	height: 51px;
	line-height: 51px;
	font-weight:600;
	font-size: 20pt;
	display: inline-block;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
}
#timeList li:first-child, #timeList li:nth-child(2){
	margin-top: 22px;
}
#timeList li:nth-child(2n-1){
	border-right:1px solid #DDD; 
}

#timeList input{
	display:inline-block;
	border: 1px solid #DDD;
	margin-top:25px;
	width: 80px;
	height: 40px;
	font-size: 12pt;
	font-weight: 700; 
	color: #3c6ffa;
}
#timeList input[type='button']{
	border: none;
}
#timeList input[type='number']{
	text-align: center;
}

.enable-Li{
	border-top: 1px solid #ee8542;
	border-bottom: 1px solid #ee8542;
	background-color: #ee8542;
    color: #FFF !important;
}

.canT {
	width: 100% !important;
	height: 102px !important;
	line-height: 102px !important;
	font-weight:600 !important;
	font-size: 32pt !important;
	background-image: linear-gradient(-45deg, rgba(80, 80, 80, 0) 0%, rgba(80, 80, 80, 0) 44%, rgba(80, 80, 80, 0.3) 45%, rgba(80, 80, 80, 0.3) 55%, rgba(80, 80, 80, 0) 56%, rgba(80, 80, 80, 0) 100%);
    background-size: 7px 7px;
    background-repeat: repeat;
    color: gray;
    cursor: default !important;
    margin-top: 80px !important;
}

/* 게스트하우스일 경우에 */
.gh{
	width: 100% !important;
	height: 102px !important;
	line-height: 102px !important;
	font-weight:600 !important;
	font-size: 32pt !important;
	margin-top: 80px !important;
}

#timeList .disable{
	background-image: linear-gradient(-45deg, rgba(80, 80, 80, 0) 0%, rgba(80, 80, 80, 0) 44%, rgba(80, 80, 80, 0.3) 45%, rgba(80, 80, 80, 0.3) 55%, rgba(80, 80, 80, 0) 56%, rgba(80, 80, 80, 0) 100%);
    background-size: 7px 7px;
    background-repeat: repeat;
    color: white;
    cursor: default;
}

#timeList label{
	display:inline-block;
    margin-top: 25px;
    width: 80px;
    height: 50px;
    font-size: 12pt;
    font-weight: 700;
    color: #3c6ffa;
    line-height: 50px;
}

#timeList #peoples{
	width: 72px;
    height: 32px;
    margin: 25px 10px 0px 10px;
}

/*
---------관리자 전용----------------------*/
#rnlTop div{
	display:inline;
}
#go_back{
	float: right;
    border: 0.1px solid black;
    border-radius: 5px;
    font-weight: 800;
    background-color: white;
    color: teal;
    width: 75px;
    height: 21px;
    padding: 0px;
}
#go_back:hover{
	color: white;
	background-color: teal;
}

#adminRoomTimeUpdateForm h1{
	color: #ed2a61;
	float:center;
	margin-top: 30px;
	font-size: 25px;
}
#adminRoomTimeUpdateForm li{
	width: 300px;
	height: 102px;
	line-height: 102px;
	font-weight:600;
	font-size: 32pt;
	display: inline-block;
	margin-top: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
}
#rds{
	height: 60px;
	line-height: 60px;
	font-size:1.1em;
}
#adminRoomTimeUpdateForm input[type='radio']{
	display:inline-block;
	border: 1px solid #DDD;
	margin-top:0px;
	width: 30px;
	height: 20px;
	font-size: 12pt;
	font-weight: 700; 
	color: #3c6ffa;
}
#adminRoomTimeUpdateForm input[type='submit']{
	background-color: white;
	color: #3c6ffa;
	cursor: pointer;
	margin-top: 10px;
}
#adminRoomTimeUpdateForm input[type='submit']:hover {
	background-color:#3c6ffa;
	color: white; 
}
