@charset "UTF-8";
/* 오세진 - 예약/신청 
---- main 페이지--- */
#mainContainer ul{
	width: 100%;
}
#mainContainer .bMainLi{
	width: 50%;
	float: left;
	text-align: center;
	margin-top: 50px;
}
.bText{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20pt;
	font-weight: bold;
	color: black;
	cursor: default;
}
.bMainLi .bImg{
	width: 250px;
	height: 250px;
	margin-bottom: 30px;
}
/* 마우스 호버 트릭 */
.mOver{
	margin: 0 auto;
	width: 250px;
}
.mOver img{
	transition: all 0.3s linear;
}
.mOver:hover img{
	transform: scale(1.05);
}


/* ----------------------------------------------
-----roomNameList---- */
.Mhr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.center{
	text-align: center;
	font-size: 14pt;
	margin-bottom: 10px;
}

#rnlTop{
	margin-top:50px;
}
#rnlTopMenu{
	cursor: default;
}

#listColor{
	background-color: #ccc;
	height: 500px;
	position: relative;
	z-index: -999;
}


#mainContainer .rnlLi{
	float: left;
	text-align: center;
	margin-top: 40px;
	margin-right:5px;	
	width: 33%;
}
#mainContainer .rnlLi:last-child{
	margin-right: 0px;
}
.rnlBox{
	width: 100%;
}

.rnlBoxMR{
	margin-right: 50px;
}

.rnlLi img{
	width: 330px;
	height: 220px;
	object-fit: contain;
	border-radius: 10px;
}
.rnlLi .rnlBtn{
	width: 80px;
	height: 40px;
	margin-top: 25px;
	background-color: white;
	border: 1px solid skyblue;
	border-radius: 5px;
	font-weight: bolder;
	font-size:12pt;
	color: teal;
	cursor: pointer;
}
.rnlBtn:hover{
	background-color:teal;
	color: white;
}
.rnlLi .disable{
	width: 80px;
	height: 40px;
	margin-top: 25px;
	background-color: #DDD;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bolder;
	font-size:12pt;
	color: gray;
	cursor: default;
}

/* ----------------------------------------------
-----roomTypeList---- */
.rName{
	font-size: 11pt;
	margin-bottom: 5px;
}
#roomType_form span{
	margin-bottom: 5px;
}

#roomType_form button[type='submit']{
	margin-top: 10px;
}
#adminRoomTypeListForm{
	display: inline;
}
#adminRoomTypeListForm button{
	float: right;
	border: 0.1px solid black;
	border-radius: 5px;
	font-weight:800;
	background-color:white; 
	color:teal;
	width: 75px;
	
}
#adminRoomTypeListForm button:hover {
	background-color: teal;
	color: white;
}
.rnlBox div{
	height:17px;
	line-height: 17px;
}
.bottom-btn{
	text-align: center;
}
.bottom-btn button{
	margin-top: 30px !important;
	border: 0.1px solid black;
	border-radius: 5px;
	font-weight:800;
	font-size: 1.1em;
	background-color:white; 
	color:teal;
	width: 75px;
	height: 30px; 
}
.bottom-btn button:hover{
	background-color: teal;
	color: white;
}

