.content-main {
    width: 820px;
    margin: 0 auto;
    text-align: center;
}

.join_flow {
    margin-bottom: 60px;
    padding: 30px 20px;
    border: 1px solid #d9d9d9;
    background-color: #fdfdfd;
}

*****************************
.result-display {
  display:block;
  text-align: center;
  margin: 100px auto;
  width: 400px;
  height: 200px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid gray;
}

.rsdp {
  font-size: 20px;
}

.align-center {
  margin-top:35px;
  text-align: center;
}

input {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 40px;
  background-color: #0080ff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.content-main .btnWrap {
    margin: 50px 0;
    text-align: center;
}

.content-main .btnWrap input[type=button] {
	font-size:15pt;
    display: inline-block;
    width: 200px;
    padding: 15px 15px 35px 15px;
    display: inline-block;
    background-color: #3264bf;
    color: #fff;
} 