@charset "UTF-8";
/*메인 페이지*/
.page-main{
	width: 1000px;
	margin: 50px auto;
	border: none;
	min-height: 400px;
}
.page-main li{
	float: left;
}
.page-left{
	padding-right: 50px;
}
.page-right{
	width: 700px;
}

/*사이드 바*/
.sidebar{
	/*상우하좌*/
	width: 250px;
}
.sidebar h2{
	padding-bottom: 5px;
	border-bottom: 2px solid #c5c6c7;
}
.mem-service{
	height: 120px;
	margin-bottom: 20px;
	padding-bottom: 50px;
	font-size: 1em;
	text-align: center;
	border-top: 2px solid #333;;
	border-bottom: 2px solid #333;;
}
.mem-service p{
	padding: 20px 0 15px 0;
	font-size: 13px;
	font-weight: bold;
}
.mem-service div{
	width: 200px;
	height: 30px;
	padding-top: 10px;
}
.mem-service div:hover{
	cursor: pointer;
}
.service-myPage-button{
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #5a5a5a;
}  
.service-myPage-button a{
	margin-top: 10px;  
	height:30px;
	color: #fff;
}
.service-manager-button{  
	margin: -10px 0px 20px 25px;
	width: 100%;
	
}
.service-manager-button li{
	float: left; 
}
.service-manager-button div{
	width:96px;
	background-color: #5a5a5a;
	border: 1px solid #e5e5e5;
	
}
.manage-btn{
	margin-left: 4px;
}
.service-manager-button a{
	color: #fff;
}
.service-logout-button{
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.menu{
	margin-top: 20px; 
}
.menu li{
	margin-left: 40px;
	width: 250px;
	padding-bottom: 15px;
	text-align: left;
	font-size: 1.2em;
	list-style: disc;
}

/*공지사항 상단*/
.main-img img{
	width: 700px;
	height: 285px;
}
.inquiry-main-search{
	margin-top:30px;
	border-top: 2px solid #c5c6c7;
	border-bottom: 2px solid #c5c6c7;
	height: 50px;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.inquiry-main-search b{
	width: 200px;
}
#keyword{
	margin-left: auto;
	width: 160px;
	height: 30px;
	text-align: left;
}
#search_form ul{
	float: left;
}
#search_form input[type="submit"]{
	height: 30px;
}
/*공지사항 게시글 상단*/
.inquiry-main-list ul{
	margin: 10px 0;
}

.inquiry-main-list li{
	width: 100px;
	height: 30px;	
	text-align: center;
	font-size: 1.1em;
}
.inquiry-main-list li:nth-child(2){
	width: 400px;
}

/*공지사항 고정 게시글*/
.list-fixed td{
	display: table-cell;
    vertical-align: inherit;
    background-color: #f7f7f7;
} 
.board-article-fixed td{
	height: 28px;
    padding: 4px 7px;
    border-bottom: 1px solid #f2f2f2;
} 
.list-fixed{
	width: 100%;
}
.list-fixed td{
	padding-left: 5px;
    padding-right: 18px;
}
.article-fixed{
	line-height: 18px;
    color: #ff4e59;;
    font-weight: bold;
}
.list-fixed .board-number-fixed{
	width: 60px;
	color: #ff4e59;;
    font-weight: bold;
	display: table-cell;
 	padding: 0 13px;
 	vertical-align: middle;
 	text-align: center;
}
.list-fixed .board-number-fixed span{
	color: #ff4e59;;
	border: 1px solid #ffc6c9;
	padding: 1px 14px;
	background-color: #ffe3e4;
	border-radius: 5px;
}

/*공지사항 게시글 리스트----------------------------*/
.list td{
	display: table-cell;
    vertical-align: inherit;
} 
.board-article td{
	height: 28px;
    padding: 4px 7px;
    border-bottom: 1px solid #f2f2f2;
} 
.list{
	width: 100%;
}
.list td{
	padding-left: 5px;
    padding-right: 18px;
}
.td-article{
	width: 400px;
	padding-left: 12px;
    padding-right: 18px;
}
.board-number{
	width: 20px;
	display: table-cell;
 	padding: 0 33px;
 	vertical-align: middle;
 	text-align: center;
}
.board-list{
    display: table-cell;
    padding-top: 1px;
    padding-left: 30px;
}
.article{
	line-height: 18px;
    color: #333;
}
.board-date{
	text-align:center;
}


/*게시글이 없을 경우---------------------------------------*/
.result-display{
	height: 50px;
	padding-top:25px;	
	text-align: center;
}
/*버튼----------------------------------------------------*/
.list-write-btn{
	margin: 20px 15px 0 0;
	text-align: right;
}
.list-write-btn span{
	padding: 7px 5px;
	font-size: 1.1em;
	border: 1px solid #c5c6c7;
}
.list-write-btn span img{
	width: 18px;
	height: 18px;
}

/*글 상세 페이지-----------------------------------------------*/
.detail{
	width: 700px;
	height: 100%;
	border: 1px solid #c5c6c7;
	border-radius: 5px;
}
.detail-page{
	padding: 30px 30px;
}
.detail-page-title{
	width: 100%;
	height: 80px;
}
.detail-page-title li{
	float: none;
}
.detail-page-title li:nth-child(2){
	padding-top:5px;
	height: 40px;
	font-size: 1.7em;
	display: table-cell;
	vertical-align: middle;
}
.detail-page-title li:nth-child(3){
	text-align:right;
	padding-right: 20px;
}
.detail-page-content{
	padding: 30px 0 20px 0;
	width: 100%;
}
.detail-page-content img{
	width: 640px;
	height: 300px;
	object-fit: contain;
}
.detail-page-content p{
	padding: 30px 0;
	width: 100%;
	font-size: 1.3em;
}
/*상세 페이지 처리---------------------------------------*/
.page-count{
	margin-top: 10px;
	text-align: center;
	font-size: 1.1em;	
}
/*상세페이지 버튼-------------------------------------------*/
.detail-btn{
	width: 700px;
	margin-bottom: 10px;
}

.detail-btn-div2 .bottom-btn:hover{
	cursor: pointer;
}
.detail-btn-div2 form{
	display: inline !important;
}
.detail-btn-div2{
	margin-bottom: 30px;
	display: table-cell;
	vertical-align: middle;
	height: 25px;
	width: 700px;
	text-align: right;
}
.detail-btn-div2 .bottom-btn{
	margin: 20px 15px 0 0;
	text-align: center;
	width: 40px;
	height: 25px;
}

/*상단 바로가기 버튼*/
.service-up{
	margin-right: 30px;
	position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 50;
}
.link-service img{
	width: 50px;
	height: 50px;
}


/*글 작성 페이지-------------------------------------------*/

.write-page-main{
	width: 1000px;
	margin: 50px auto;
	border: none;
	min-height: 400px;
}

.write-page{
	margin-top: 15px;
	border: 1px solid #c5c6c7;
	height: 100%;
}
.write-page form{
	width: 800px;
	margin: 0 auto;
	height: 100%;
}
.keyfield{
	margin: 20px 0;
	height: 40px;
	width: 100%;
}
.write-title{
	width: 100%;
	margin-top: 20px; 
}
#title{
	height:30px;
	width:780px;
	margin-bottom: 20px;	
	padding: 0px 20px;
}
#adminTitle{
	height:30px;
	width:100%;
	margin-bottom: 20px;
	padding: 0px 20px;
}
.main-page label{
	margin: 0 5px 0 10px;
}
.main-page textarea{
	width: 780px;
	min-height: 400px; 
	padding: 20px;
}
.main-page input[type="file"]{
	height:25px;
	margin: 20px 0;
}
#file_detail {
	display: inline;
	height: 25px;
}
#file_detail input{
	height: 25px;
	padding: 3px;
	vertical-align: middle;
}
/*버튼*/
.write-btn-div{
	padding-bottom: 40px;
	text-align: center;
}
.write-btn{
	margin-left:10px;
	width: 100px;
	height: 30px;
}
.write-btn:hover{
	cursor: pointer;
}


/*상세 댓글 작성 스타일 ---------------------------------------------*/
#comment{
	padding: 5px 10px 40px 10px;
   	margin-top: 10px;
   	background-color: #EEEEEE;
}

#mre_form{
	padding: 5px 10px 40px 10px;
   	margin-top: 10px;
   	background-color: #EEEEEE;
}

#mre_form{
	padding-top: 10px;
	width: 640px;
}
#comment_form{
	width: 660px;
 	border: none;
}
#comment .comment-title{
   color: #000000;
   font-size: 12pt;
   line-height: 200%;
}
#comment .letter-count{
   font-size: 10pt;
   color: #999999;
}
form .rep-content{
   width: 100%;
   height: 50px;
   margin: 10px 0px;
}
#comment_first, div#m_first{
   float:left; 
   width: 70%;
   margin-bottom: 10px;
}
#comment_second, div#m_second{
   float: right;
   width: 30%;
   margin-bottom: 10px;
}
#comment_second input, #m_second input{
	width: 40px;
	height: 28px; 
	border: 1px solid #c7c9cc;
}
.align-right{
	text-align: right;
}
#loading{
   text-align: center;
}



/*상세 댓글리스트 스타일 ---------------------------------------------*/

.output {
	width: 700px;
	height: 220px;
	border: 1px solid #c5c6c7;
	border-radius: 5px;
	margin: 30px 0 0 0; 
}
.comment{
	padding: 30px 30px;	
}

.comment h4{
	text-align: right;
}
.sub-item{
	padding: 30px 0 20px 0;
    width: 100%;
}

.sub-item p{
	padding: 10px 0 0 0;
    width: 100%;
    font-size: 1.3em;
    text-align: left;
}

.sub-down{
	width: 100%;
    height: 40px;
}

.sub-down span{
	text-align: right;
}

.sub-button{
	width: 100%;
    height: 40px;
}
.sub-button .delete-btn{
	margin: 10px 5px 0 0;
    text-align: center;
    width: 40px;
    height: 25px;
}

.sub-button .modify-btn{
	margin:10px 0 0 0;
    text-align: center;
    width: 40px;
    height: 25px
}





