@charset "UTF-8";
/*메인 페이지*/
.page-main{
	width: 1000px;
}
.page-main li{
	float: left;
}
.page-left{
	padding-right: 50px;
}
.page-right{
	width: 700px;
}

/*사이드 바*/
.sidebar{
	/*상우하좌*/
	margin-top:50px 50px 0 100px;
	width: 250px;
}
.sidebar h2{
	padding-left: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #c5c6c7;
}
.mem-service{
	height: 120px;
	margin-bottom: 20px;
	font-size: 1em;
	text-align: center;
	background: #dedfe0;
	border: 1px solid black;
}
.mem-service p{
	padding: 20px 0;
}
.menu{
	margin-top: 20px; 
}
.menu li{
	margin-left:40px;
	padding-bottom: 15px;
	text-align: left;
	font-size: 1.2em;
	width: 250px;
	list-style:circle;
}
