.sbLogin {
    width: 820px;
    margin: 0 auto;
    text-align: center;
}

.sbLogin .sbTitle {
    margin-bottom: 50px;
}

.sbLogin .login_box {
    width: 530px;
    margin: 0 auto;
    overflow: hidden;
}

.sbLogin .login_box .login_input {
    width: 387px;
    margin-right: 10px;
}

.login_dong {
  float: left;
  margin-right: 10px;
}

.login_ho{
 float: right;
}

.sbLogin .login_box input[type=text] {
	display: inline-block;
	width: 175px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    padding: 15px 5px;
}
.sbLogin .login_box input[type=password] {
    width: 365px;
    margin-bottom: 10px;
    border: 1px solid #dedede;
    padding: 15px 10px;
}

.sbLogin .login_submit .loginBtn {
    width: 130px;
    height: 106px;
    background-color: #3264bf;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.sbLogin .login_info {
    margin: 100px 0;
    padding: 50px;
    background-color: #f5f6f7;
}

.sbLogin .login_info .btn_wrap a {
    display: inline-block;
    margin: 0 5px;
    width: 260px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.sbLogin .login_info .ldSearch {
    background-color: #808080;
}

.sbLogin .login_info .join {
    background-color: #9da2ab;
}

.sbLogin .login_info ul {
    margin-top: 30px;
}

.sbLogin .login_info li {
    padding-left: 30px;
    background: url(../img/dot_ico.jpg) 20px center no-repeat;
    text-align: left;
    line-height: 28px;
}