p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}

/* main_Loginbox */
#main {
	margin-top: 35px;
}

.mLogin_box {
	border: 1px solid #dcdcdc;
	float: right;
	height: 100%;
	padding: 20px 20px 20px;
	width: 269px;
}

.loginGreetingt {
	margin-bottom: 13px;
	font-size: 14px;
	font-weight: bold;
}

.loginGreetingt span {
	color: #3264bf
}

.mLogin_box .login_input_text {
	width: 251px;
	padding: 6px 8px;
	margin-bottom: 6px;
	border-radius: 3px;
	background-color: #f5f5f5;
	font-size: 12px;
}

.mLogin_box .loginBtn {
	margin-top:15px;
	width: 269px;
	height: 40px;
	margin-bottom: 15px;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	background-color: #3264bf
}

.mLogin_box .registerBtn {
	width: 269px;
	height: 40px;
	margin-bottom: 15px;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	background-color: #3264bf
}

/* 로그인중 */
.mLogging_Box {
	border: 1px solid #dcdcdc;
	float: right;
	height: 100%;
	padding: 20px 20px 20px;
	width: 269px;
	margin-bottom: 34px;
}

.LoggingBox .logoutBtn {
	margin-top:15px;
	width: 269px;
	height: 40px;
	margin-bottom: 15px;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	background-color: #ff0000
}

.LoggingBox .mypageBtn {
	width: 269px;
	height: 40px;
	margin-bottom: 15px;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	background-color: #3264bf
}

.LoggingBox .manageBtn {
	width: 269px;
	height: 40px;
	margin-bottom: 15px;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	background-color: #c0c0c0
}

div.mphnum_box {
  background-color: #f5f5f5;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 20px 50px;
  width: 269px;
  border: 1px solid #dcdcdc;
  float: right;
  height: 10px;
  display: block;
}

div.mphnum_box a {
  color: #3264bf;
  font-size: 16px;
  font-weight: bold;
}

div.mphnum_box span {
  color: #222;
  font-size: 14px;
}

div.mphnum_box p {
  margin-top: 10px;
}


.board_all {
  margin-top: 30px;
  width: 100%;
}

.board_all .title {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #dedede;
  font-size: 16px;
  font-weight: bold;
  color: #222;
}

.board_notice {
  margin-top: 21px;
  float: left;
  width: 669px;
  border: none;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.board_notice1 {
  margin-top: 21px;
  float: left;
  width: 610px;
  border: none;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
}

.board_board {
  border: none;
  border-radius: 3px;
  width: auto;
  float: right;
  border: 1px solid #dcdcdc;
}

.board_all .board_notice table {
  width: 100%;
  border-collapse: collapse;
}

.board_all .board_notice table td {
  padding: 10px;
}

.board_all .board_notice a {
  color: #3264bf;
}

.board_all .board_notice1 table {
  width: 100%;
  border-collapse: collapse;
}

.board_all .board_notice1 table td {
  padding: 10px;
}

.board_all .board_notice1 a {
  color: #3264bf;
}

.board_all .board_board table {
  width: 100%;
  border-collapse: collapse;
}

.board_all .board_board table td {
  padding: 10px;
}

.board_all .board_board a {
  color: #3264bf;
}

td:first-child {
  text-align: center;
}

td:nth-child(2) {
  text-align: left;
}

td:last-child {
  text-align: right;
}



