@charset "UTF-8";
/*관리자 페이지 상단*/
.manage-header{
	margin: 10px 10px;
	height: 50px;
	width:100%;
	border-bottom: 2px solid #bababa;
}
.manage-header img{
	height: 50px;
}
.manage-header a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding-right: 10px;
}
.manage-header ul li{
	float: left;
	list-style: none;
}
.manage-header div{
	width: 450px;
}
.manage-header-btn{
	margin-left:550px;
	padding-top: 20px;
	text-align: right;
	position: absolute;
}
.manage-page-main{
	margin: 30px 50px;
	height: 20px;	
}
.manage-page-main ul li{
	float: left;
}
/*관리자 페이지 왼쪽 메뉴*/
.manage-menu{
	margin-top:10px;
	width:200px;
	height: 374px;
	border: 3px solid #e0e0e0;
}
.manage-page-left h1{
	margin: 0 0 5px 5px;
}
.manage-menu div{
	margin: 2px 2px;
	background-color: #e0e0e0;
	height: 30px;
	padding: 15px 0 15px 15px;
	font-size: 1.3em;
	font-weight: bold;
}
.manage-menu div:hover{
	cursor: pointer;
	background-color: #bababa;
}
.manage-menu div a{
	margin-top:10px;
}
/*관리자 페이지 오른쪽 내용*/
#manage-title{
	font-size: 2em;
	font-weight: bold;
}
.manage-content{
	margin-left:50px;
	width: 1000px;
	min-height: 500px;
}
.manage-content h1{
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 2px solid #e0e0e0;
}
/*회원 검색*/
.mem-search{
	margin-top: 15px; 
}
.select-member{
	height: 30px;
}	
.search-member{
	height: 30px;
}
















