@charset "UTF-8";

/*메인 페이지*/

.page-main{
	width: 1000px;
	margin: 50px auto;
	border: none;
	min-height: 400px;
}
.page-main li{
	float: left;
}
.page-left{
	padding-right: 50px;
}
.page-right{
	width: 700px;
}
.myPage_leftSide{
	width: 37%;
	height: 100%;
}
.myPage_rightSide{
	width: 63%;
	height: 100%;
}

/*상단 바로가기 버튼*/
.service-up{
	margin-right: 30px;
	position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 50;
}
.link-service img{
	width: 50px;
	height: 50px;
}

/*사이드 바*/
.sidebar{
	/*상우하좌*/
	width: 250px;
}
.sidebar h2{
	padding-bottom: 5px;
	border-bottom: 2px solid #c5c6c7;
}
.mem-service{
	height: 120px;
	margin-bottom: 20px;
	padding-bottom: 50px;
	font-size: 1em;
	text-align: center;
	border-top: 2px solid #333;;
	border-bottom: 2px solid #333;;
}
.mem-service p{
	padding: 20px 0 15px 0;
	font-size: 13px;
	font-weight: bold;
}
.mem-service div{
	width: 200px;
	height: 30px;
	padding-top: 10px;
}
.mem-service div:hover{
	cursor: pointer;
}
.service-myPage-button{
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #5a5a5a;
}  
.service-myPage-button a{
	margin-top: 10px;  
	height:30px;
	color: #fff;
}
.service-manager-button{  
	margin: -10px 0px 20px 25px;
	width: 100%;
	
}
.service-manager-button li{
	float: left; 
}
.service-manager-button div{
	width:96px;
	background-color: #5a5a5a;
	border: 1px solid #e5e5e5;
}
.manage-btn{
	margin-left: 4px;
}
.service-manager-button a{
	color: #fff;
}
.service-logout-button{
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}
.menu{
	margin-top: 20px; 
}
.menu li{
	margin-left: 40px;
	width: 250px;
	padding-bottom: 15px;
	text-align: left;
	font-size: 1.2em;
	list-style: disc;
}


/* -----염유진 myPageFav.jsp---------------------------------------------------------------- */
#myPage_fav{
	display: flex;
	flex-direction: column;
}
#myPage_fav h2{
	font-size: 24px;
	margin: 10px 0 10px 0;
}
#myPage_fav h3{
	font-size: 19px;
	margin: 15px 0 10px 0;
}

#myFavList{
	width: 100%;
	text-align: center;
}
#myFavList caption {
	display: table-caption;
	text-align:left;
	font-size: 11pt;
	margin-bottom: 10px;
}
#myFavList tr:first-child{
	border: 1px solid #c5c6c7;
	background-color: #bfd0ff;
	font-size:1.2em;
}
#myFavList th{
	padding:5px 0px;
	color:black;
}
#myFavList td{
	font-size:1.1em;
	height: 25px;
}

.paging-button{
	text-align: right;
}
.paging-button input[type='button']{
	width: 100px;
	height: 40px;
	margin-top:20px;
	border: 1px solid #ccc;
	background-color: white;
	color: teal;
}

#loading {
	text-align: center;
}
#loading img{
	width: 50px;
	height: 50px; 
}


















