@charset "UTF-8";
/*글 작성 페이지*/
.write-title-text{
	width: 1000px;
	padding: 15px 100px 0 100px;
	margin: 5px auto;		
}
.write-page{
	margin: 15px auto;
	width: 1000px;
	height: 100%;
	border: 1px solid #c5c6c7;
	border-radius: 5px;
}
.write-page form{
	width: 800px;
	margin: 0 auto;
	height: 100%;
}
.keyfield{
	margin: 20px 0;
	height: 40px;
	width: 100%;
}
.wrtie-title{
	width: 100%;
}
#title{
	height:30px;
	width:700px;
	margin-bottom: 20px;	
}
.wirte-title label{
	margin: 0 5px 0 10px;
}
#content{
	width: 780px;
	min-height: 400px; 
}
#filename{
	height:25px;
	margin: 20px 0;
}
/*버튼*/
.write-btn-div{
	padding-bottom: 40px;
	text-align: center;
}
.write-btn{
	margin-left:10px;
	width: 100px;
	height: 30px;
}
.write-btn:hover{
	cursor: pointer;
}
/*파일 삭제 버튼*/
#file_detail{
	height: 30px;
	padding-bottom: 10px;
}
#file_del{
	height: 30px;
}