.sbLogin {
    width: 820px;
    margin: 0 auto;
    text-align: center;
}

.join_flow {
    margin-bottom: 60px;
    padding: 30px 20px;
    border: 1px solid #d9d9d9;
    background-color: #fdfdfd;
}

.join_flow ul {
    overflow: hidden;
}

.join_flow li:first-child {
    padding-left: 60px;
    background: none;
}

.join_flow li {
    width: 130px;
    height: 35px;
    padding: 0 65px;
    float: left;
    background: url(../img/flow_arrow.png) 0 center no-repeat;
}

.join_flow li span {
    display: inline-block;
    width: 130px;
    height: 35px;
    line-height: 35px;
    font-size: 0;
    background: url(../img/join_flow.png) 0 0 no-repeat;
}

.join_flow .jo_01 span {
    background-position: 0 -113px;
}

.join_flow .jo_02 span {
    background-position: 0 -150px;
}

.join_flow .jo_o2_on span {
    background-position: 0 -44px !important;
}

.join_flow .jo_03 span {
    background-position: 0 -185px;
}
************************
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.joinForm .joinTit {
    margin-bottom: 20px;
    font-size: 15px;
    color: #4e4e4e;
    text-align: left;
    font-weight: bold;
}

.joinForm table {
    width: 100%;
    text-align: left;
    border-top: 2px solid #747474;
}

table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.joinForm table th {
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #f8f8f8;
    line-height: 40px;
    font-size: 16px;
}

.joinForm table td {
    padding: 20px 0 20px 30px;
    border-bottom: 1px solid #dcdcdc;
    line-height: 40px;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.joinForm table .join_input {
    width: 250px;
}

.joinForm table input {
    padding: 8px;
    vertical-align: middle;
    border: 1px solid #e1e1e1;
    color: #333;
    font-size: 14px;
}

.sbLogin .btnWrap {
    margin: 50px 0;
    text-align: center;
}

.sbLogin .btnWrap input[type=submit] {
	font-size:15pt;
    display: inline-block;
    width: 200px;
    padding: 15px 15px 35px 15px;
    display: inline-block;
    background-color: #3264bf;
    color: #fff;
}

.joinForm table .dongho_check {
    padding: 10px 10px 23px 10px;
    background-color: #b5413e;
    color: #fff;
    font-size: 13px;
    font-weight:bold;
    vertical-align: middle;
}

span {
    color: #ff0000;
    font-size: 13px;
}

.sp_ch {
    color: #0080ff;
    font-size: 13px;
}
