.sbLogin {
    width: 820px;
    margin: 0 auto;
    text-align: center;
}

.join_flow {
    margin-bottom: 60px;
    padding: 30px 20px;
    border: 1px solid #d9d9d9;
    background-color: #fdfdfd;
}

.join_flow ul {
    overflow: hidden;
}

.join_flow li:first-child {
    padding-left: 60px;
    background: none;
}

.join_flow li {
    width: 130px;
    height: 35px;
    padding: 0 65px;
    float: left;
    background: url(../img/flow_arrow.png) 0 center no-repeat;
}

.join_flow li span {
    display: inline-block;
    width: 130px;
    height: 35px;
    line-height: 35px;
    font-size: 0;
    background: url(../img/join_flow.png) 0 0 no-repeat;
}

.join_flow .jo_01 span {
    background-position: 0 -113px;
}

.join_flow .jo_o1_on span {
    background-position: 0 -7px !important;
}

.join_flow .jo_02 span {
    background-position: 0 -150px;
}

.join_flow .jo_03 span {
    background-position: 0 -185px;
}


.agreeList .agreeAll {
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
    text-align: left;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.agreeArea {
    margin-top: 50px;
}

.agreeArea textarea {
    width: 798px;
    height: 150px;
    resize: none;
}
textarea {
    padding: 10px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #c7c9cc;
    font-family: 'Nanum Gothic', 'Malgun Gothic', 'dotum', '돋움', 'Arial',dotum,Myriad,sans-serif;
    color: #67686a;
    font-size: 14px;
}

.agreeAll label {
    font-size: 15px;
    color: #4e4e4e;
    font-weight: bold;
}

label {
    cursor: default;
}

.agreeList .agreeAll {
    padding-bottom: 15px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.sbLogin input[type=checkbox] {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

input[type="checkbox" i] {
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
}

.agreeArea p {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    color: #4e4e4e;
}

.sbLogin .btnWrap {
	font-size: 18px;
	font:bold;
	margin: 50px 0;
    text-align: center;
    display: inline-block;
    width: 200px;
    height:auto;
    padding: 20px 20px;
    display: inline-block;
    background-color: #3264bf;
    color: #fff;
}
